@import '../fonts/index';
@import './utils/reset';
@import './utils/variable';
@import './utils/mixins';
@import './vendors/index';

* {
  font-family: 'Maven Pro', sans-serif;
}

.container {
  max-width: 1164px;
  width: 93%;
  margin: 0 auto;

  &.container--small {
    max-width: 1005px;
  }
}

section {
  overflow: hidden;
}

@import './layout/index';
@import './sections/index';
@import './components/index';