.benefits,
.features,
.numbers,
.read,
.ready,
.systems,
.trusted,
.free {
  padding: 100px 0;
}

@media (max-width: 950px) {
  .benefits,
  .features,
  .numbers,
  .read,
  .ready,
  .systems,
  .trusted,
  .free {
    padding: 50px 0;
  }
}

@media (max-width: 420px) {
  .benefits,
  .features,
  .numbers,
  .read,
  .ready,
  .systems,
  .trusted,
  .free {
    padding: 40px 0;
  }
}

@import './trusted/index';
@import './trusted/responsive';

@import './benefits/index';
@import './benefits/responsive';

@import './systems/index';
@import './systems/responsive';

@import './free/index';
@import './free/responsive';

@import './numbers/index';
@import './numbers/responsive';

@import './features/index';
@import './features/responsive';

@import './read/index';
@import './read/responsive';

@import './ready/index';
@import './ready/responsive';
