@media (max-width: 950px) {
  .benefits {
    .description {
      margin-bottom: 40px;
    }

    &-btns {
      gap: 10px;
      margin-bottom: 0;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-row {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    &-icon {
      display: block;
    }

    &-item {
      grid-template-rows: auto;
      padding-top: 30px;

      &:last-child {
        border-top: 1px solid rgba(108, 108, 108, 0.15);
      }

      .benefits {
        &-list {
          display: none;
        }

        &-description {
          margin-bottom: 0;
        }
      }

      &--show {
        .benefits {
          &-list {
            display: grid;
          }

          &-description {
            margin-bottom: 20px;
          }

          &-icon {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-list {
      .list-item {
        gap: 10px;
      }
    }

    &-description {
      border: none;
      margin-bottom: 20px;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 666px) {
  .benefits {
    .text {
      line-height: 18px;
    }
  }
}

@media (max-width: 530px) {
  .benefits {
    &-title {
      font-size: 20px;
    }
  }
}
