@media (max-width: 1120px) {
  .title {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 27px;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 19px;
  }
}
